
body{
    animation:fadein 0.6s normal forwards;
    animation-delay:0.2s;
    opacity:0;
}


@keyframes fadein{
    from {
        opacity:0;
    }

    to{
        opacity:1;
    }
}

.cluster-content{
    /* padding-top:20px; */
    --n:2;
    --colspan:calc(var(--col-count) / var(--n));
}

.cluster-content::after{
    content:'';
    width:100%;
    height:60px;
    grid-column-start:1;
    order:2;
}

#top-bar{
    
    width:calc(100% - var(--spacing) * 2);
    margin:auto;
    max-width:var(--archive-content-width);
    box-sizing:border-box;
    background-color: var(--bg);
    position:sticky;
    top:0;
    z-index:100;
    margin-bottom:var(--spacing);
}

#filter-wrapper{
    /* height:3em;
    max-height:3em; */
}

#filter{
    --h:var(--h);
    padding-bottom:4px;
    border-bottom:var(--stroke-width) solid var(--fg);
    /* background-color: var(--bg); */
}



.dropdown-arrow path{
    stroke:var(--fg);
    stroke-width:var(--stroke-width);
    margin-left:4px;
}

#filter[open] .dropdown-arrow path{
    transform:rotate(180deg);
    transform-origin:50% 50%;
}




#filter[open] .filter-prompt,
#filter:not(#filter[data-selected="0"]) .filter-prompt{
    display:none;
}

#filter[open][data-selected="0"] .none-selected-placeholder{
    display:inline;
}

#filter[open]{
    border-bottom:var(--stroke-width) solid transparent;
}

#filter-menu{
    position:absolute;
    bottom:0;
    left:0;
    transform:translateY(100%);
    width:100%;
    background-color: var(--bg);
    border-bottom:var(--stroke-width) solid var(--fg);
    padding-bottom:var(--spacing);
    display:grid;
    grid-template-columns:repeat(var(--col-count),1fr);
    grid-gap:0px var(--spacing);
    max-height:calc(100vh - var(--h));
    overflow:scroll;
}

.selected-tags button::before,
.selected-tags button::after{
    color:var(--fg);
}

.selected-tags button::after{
    content:',\00a0';
}

.selected-tags button:last-of-type::after{
    content:'';
}

.taglist{
    grid-column:auto / span var(--col-count);
    margin-top:var(--spacing);
}

.tag-select{
    position:relative;
}

.tag-select label{
    cursor:pointer;
    width:100%;
    display:block;
}

.tag-select input[type="checkbox"]{
    position:absolute;
    opacity:0;
}

/* .tag-select input[type="checkbox"]{
    opacity:0;
    width:0;
} */

input[type="checkbox"]:checked + label{
    display:none;
}

#filter summary{
    list-style:none;
    cursor:pointer;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}

.none-selected-placeholder{
    display:none;
    color:var(--mid);
}

#filter summary>*:not(.none-selected-placeholder){
    display:inline;
}

#filter summary::marker,details summary::-webkit-details-marker{
    display:none;
    -webkit-appearance:none;
}



img{
    max-width:100%;
    position:relative;
    z-index:10;

}


#cards.filtering .card:not(.in-filter){
    opacity:0.1;
    order:2;
    /* display:none; */
}

.card{
    grid-column:auto / span var(--colspan);
    margin-bottom:15px;
}

/* .card::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--hl);
    mix-blend-mode:hard-light;
    z-index:90;
    opacity:0;
} */

.id-no{
    position:absolute;
    top:5px;
    left:10px;
    z-index:5;
}

picture{
    display:contents;
}

@media(scripting:enabled){
    /* .card img{
        opacity:0;
        transition:opacity 0.3s;
    } */
}



@media(hover:hover){
    .tag-select:hover label::after{
        content:'*';
    }
}

@media(min-width:600px){
    .cluster-content[data-cols="6"]{
        --n:4;
    }

    #top-bar{
        width:calc(100% - 40px);
    }
}

@media(max-width:799px){
    #filter:not(#filter[open]) summary{
        /* white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box; */
    }
}

@media(min-width:800px){
    #filter{
        padding-top:20px;
    }

    .taglist{
        grid-column:auto / span 3;
    }
}

@media(min-width:1060px){
    .cluster-content[data-cols="6"]{
        --n:6;
    }
}