

.cluster-content{
    /* padding-top:20px; */
    --n:2;
    --colspan:calc(var(--col-count) / var(--n));
}

.cluster-content::after{
    content:'';
    width:100%;
    height:60px;
    grid-column-start:1;
}

#filter-bar{
    border-bottom:var(--stroke-width) solid var(--fg);
    width:calc(100% - var(--spacing) * 2);
    margin:auto;
    max-width:var(--archive-content-width);
    box-sizing:border-box;
    background-color: var(--bg);
    position:sticky;
    top:0;
    z-index:100;
    margin-bottom:var(--spacing);
}





img{
    max-width:100%;
    position:relative;
    z-index:10;

}

.card{
    grid-column:auto / span var(--colspan);
    margin-bottom:15px;
}

/* .card::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--hl);
    mix-blend-mode:hard-light;
    z-index:90;
    opacity:0;
} */

.id-no{
    position:absolute;
    top:5px;
    left:10px;
    z-index:5;
}

picture{
    display:contents;
}


@media(min-width:600px){
    .cluster-content[data-cols="6"]{
        --n:4;
    }

    #filter-bar{
        width:calc(100% - 40px);
    }
}

@media(min-width:1060px){
    .cluster-content[data-cols="6"]{
        --n:6;
    }
}