


.constellation-content section{
    grid-column: 1 / span var(--col-count);
    box-sizing:border-box;
    height:fit-content;
}



.media figure{
    width:100%;
    height:fit-content;
    display:flex;
    flex-flow:column nowrap;
    margin-bottom:var(--spacing);
    position:relative;
}

.media img,.media iframe{
    width:100%;
}


@media(scripting:enabled){
    .media img{
        opacity:0;
        transition:opacity 0.3s;
    }
}

.embed-wrapper,.attachment-wrapper{
    border:1px solid var(--mid);
    box-sizing:border-box;
    aspect-ratio:16/9;
    width:100%;
}

.attachment-wrapper{
    aspect-ratio:8.5/11;
}

#close{
    position:fixed;
    right:var(--spacing);
    top:0;
    pointer-events:none;
    z-index:200;
}

#close a{
    pointer-events:all;
}

/* #close{
    padding-top:0;
    padding-bottom:8px;
} */

/* #close{
    position:absolute;
    top:8px;
    left:0;
} */

/* #close a{
    pointer-events:all;
    
    
    padding-left:8px;
    padding-bottom:8px;

    box-sizing:border-box;
    display:flex;
    flex-flow:row nowrap;
} */

/* .grid[data-cluster="manuscripts"] #close a{
    padding-top:8px;
}

.grid:not(.grid[data-cluster="manuscripts"]) #close a{
    background-color: var(--bg);
} */

.prop{
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    padding:4px 0px;
    border-top:var(--stroke-width) solid var(--fg);
}

summary{
    cursor:pointer;
}

details summary{
    list-style:none;
}

details summary::marker,details summary::-webkit-details-marker{
    display:none;
    -webkit-appearance:none;
}

details summary::before{
    content:'+ ';
}

details[open] summary::before{
    content:'- ';
}

details[open]{
    padding-bottom:8px;
}



.prop[data-type="text"]{
    flex-flow:row nowrap;
    gap:5px;
    
}

.prop[data-type="accordion"]{
    padding-bottom:8px;
}


.prop[data-type="accordion"] p:not(p:last-of-type){
    margin-bottom:4px;
}



.prop[data-type="relatives"] h4{
    margin-bottom:4px;
}

.prop.empty{
    display:none;
}

.prop-label::after{
    content:':';
}



.constellation-content section:last-of-type{
    padding-top:10px;
}

.constellation-content section:last-of-type::after{
    content:'';
    display:block;
    width:100%;
    min-height:20px;
}

.props{
    position:relative;
}

@media(min-width:800px){
    .constellation-content{
        height:var(--hundredvh);
        min-height:var(--hundredvh);
        max-height:var(--hundredvh);
    }

    .constellation-content section,
    .constellation-content section:last-of-type{
        grid-column: auto / span calc(var(--col-count) / 2);
        height:var(--hundredvh);
        max-height:var(--hundredvh);
        overflow-y:auto;
        padding-top:calc(var(--spacing) * 2 + 20px);
    }

    .constellation-content section::after{
        content:'';
        display:block;
        width:100%;
        min-height:20px;
    }

    .grid:not(.grid[data-cluster="manuscripts"]) .props{
        order:1;
    }

    .grid:not(.grid[data-cluster="manuscripts"]) .media{
        order:2;
    }
}

@media(min-width:900px){

    

    .prop[data-type="tags"]:not(.empty){
        display:flex;
        flex-flow:row nowrap;
        gap:15px;
    }
    .prop[data-type="tags"] p{
        min-width:0;
        display:flex;
        flex-flow:column nowrap;
        flex:1;
        min-height:52px;
    }
}

@media(min-width:1340px){
    /* #close,.grid:not(.grid[data-cluster="manuscripts"]) #close{
        padding-top:var(--spacing);
        justify-content:flex-end;
    } */

    .constellation-content section,
    .constellation-content section:last-of-type{
        padding-top:var(--spacing);
    }

}