


.constellation-content section{
    grid-column: 1 / span var(--col-count);
    box-sizing:border-box;
    height:fit-content;
}



.media figure{
    width:100%;
    height:fit-content;
    display:flex;
    flex-flow:column nowrap;
    margin-bottom:var(--spacing);
    position:relative;
}

.media img,.media iframe{
    width:100%;
}


@media(scripting:enabled){
    .media img{
        opacity:0;
        transition:opacity 0.3s;
    }
}

.embed-wrapper{
    border:1px solid var(--mid);
    box-sizing:border-box;
    aspect-ratio:16/9;
    width:100%;
}

.prop{
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    padding:4px 0px;
    border-top:var(--stroke-width) solid var(--fg);
}

summary{
    cursor:pointer;
}

details summary{
    list-style:none;
}

details summary::marker,details summary::-webkit-details-marker{
    display:none;
    -webkit-appearance:none;
}

details summary::before{
    content:'+ ';
}

details[open] summary::before{
    content:'- ';
}

details[open]{
    padding-bottom:8px;
}



.prop[data-type="text"]{
    flex-flow:row nowrap;
    gap:5px;
    
}

.prop[data-type="relatives"] h4{
    margin-bottom:4px;
}

.prop.empty{
    display:none;
}

.prop-label::after{
    content:':';
}

.relative-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:15px;
}

.constellation-content section:last-of-type{
    padding-top:10px;
}

.props::after{
    content:'';
    display:block;
    width:100%;
    min-height:20px;
}

@media(min-width:800px){
    .constellation-content{
        height:var(--hundredvh);
        min-height:var(--hundredvh);
        max-height:var(--hundredvh);
    }

    .constellation-content section,
    .constellation-content section:last-of-type{
        grid-column: auto / span calc(var(--col-count) / 2);
        height:var(--hundredvh);
        max-height:var(--hundredvh);
        overflow:scroll;
        padding-top:20px;
    }

    .constellation-content section::after{
        content:'';
        display:block;
        width:100%;
        min-height:20px;
    }
}

@media(min-width:900px){
    .prop[data-type="tags"]:not(.empty){
        display:flex;
        flex-flow:row nowrap;
        gap:15px;
    }
    .prop[data-type="tags"] p{
        min-width:0;
        display:flex;
        flex-flow:column nowrap;
        flex:1;
        min-height:52px;
    }
}