{% set rootpath="../../" %}
{# {% import 'favicon.njk' as favicon %} #}
{% import 'macros.njk' as macros %}


{% if cluster == 'manuscripts' %}
    {% set items = cms.manuscripts | notion_data_sort_int("manuscript_id") %}
{% elseif cluster == 'artifacts' %}
    {% set items = cms.artifacts | notion_data_sort_int("manuscript_id") %}
{% elseif cluster == 'moving images' %}
    {% set items = cms.moving_images | notion_data_sort_int("manuscript_id") %}
{% elseif cluster == 'rare media' %}
    {% set items = cms.rare_media | notion_data_sort_int("media_id") %}
{% endif %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Iyapo Repository - {{cluster}}</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0A0101">
    <link rel="stylesheet" href="{{ rootpath }}css/clearstyle.css">
    <link rel="stylesheet" href="{{ rootpath }}css/global.css">
    <link rel="stylesheet" href="{{ rootpath }}css/cluster.css">
    


    <!-- favicon -->
    {# {{ favicon.html() }} #}

    {% set base_url="BASE_URL" | env%}
    <script>
        let cluster="{{cluster | safe}}";
        let tags={{cms.tags | dump | safe}};
    </script>
    <script src="{{ rootpath }}js/cluster.js" charset="utf-8"></script>
  
  </head>

  <body data-theme="{{theme.value}}" class="archive-internal" data-type="{{cluster}}">
    
    <nav id="top-bar">
      <div id="close">
        <a  href="/archive"><svg viewBox="0 0 100 100" width="20" height="20">
                <line x1="0" y1="0" x2="100" y2="100" vector-effect="non-scaling-stroke"></line>
                <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke"></line>
        </svg></a>
      </div>
      {{ macros.breadcrumbs(cluster,base_url) }}
      {% if cluster == "manuscripts" %}
        <div id="filter-wrapper">
            <details id='filter' class="mono" data-selected="0">
                <summary class='noselect'>
                    <div class="dropdown-container">
                      <p class='filter-prompt desktop-only'>Filter by <span class="col-narrative">Narrative</span>, <span class="col-object">Object</span>, or <span class="col-domain">Domain</span></p>
                      <p class='filter-prompt mobile-only'>Filter</p>
                      <p class='none-selected-placeholder'>None selected</p>
                      <p class='selected-tags'></p>
                      <svg class='dropdown-arrow' width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7 8L13 1" /></svg>
                    </div>
                    
                    
                  <input id="search-field" autocomplete="off" class="mono" type="text" placeholder="Search by name or ID#">
                </summary>
                <div id="filter-menu">
                    {% macro taglist(category) %}
                        <div class="taglist" data-category="{{category}}">
                            <p class='taglist-head'>{{category | capitalize}}:</p>
                            {% for tag in cms.tags[category] %}
                                <p class="noselect tag-select">
                                    <input data-tag="{{tag}}" type="checkbox" name="{{category}}-{{tag | slugify}}" id="{{category}}-{{tag | lower | replace(" ", "-")}}">
                                    <label data-tag="{{tag}}" for="{{category}}-{{tag | slugify}}"><span class="col-{{category}}">{{tag}}</span></label>
                                </p>
                            {% endfor %}
                        </div>
                    {% endmacro %}

                    {{ taglist("narrative") }}
                    {{ taglist("object") }}
                    {{ taglist("domain") }}
                </div>
                
            </details>
        </div>
      {% elseif cluster == "artifacts" %}
        <div id="filter">
          <input id="search-field" autocomplete="off" class="mono" type="text" placeholder="Search by name or ID#">
        </div>
      {% elseif cluster == "moving images" %}
      <div id="filter"></div>
      {% endif %}
      
    </nav>
    <main id="cards" class='grid cluster-content' data-type="{{cluster}}" data-cols="6">
        {% if cluster == "rare media" %}
        <div class="access-points relative-grid">
            <div class="archive-subhead"><h2 class="mono">Access Points</h2></div>
            {% set access_points = cms.artifacts | notion_data_filter_by("is_rare_media_access_point",1) %}
            {% for item in access_points %}
              {% set id = item.properties.artifact_subid.value%}
              {% set href = '../artifacts-cluster/artifact-' + item.properties.manuscript_id.value + '-' + id %}
              {% set display_value =  item.properties.artifact_name.value %}
              {% set thumb = item | thumbnail('artifact') %}
              <a class="card landscape" href="{{href}}">
                {% if display_value %}<span class="mono identifier">{{display_value}}</span>{% endif%}
                {%if thumb %}
                    <picture>
                        <source type="image/webp" srcset="{{rootpath}}{{ thumb }}.webp" type="image/webp">
                        <source type="image/jpg" srcset="{{rootpath}}{{ thumb }}.jpg">
                        <img loading="lazy" src="{{rootpath}}{{ thumb }}.jpg">
                    </picture>
                {% endif %}
              </a>
            {% endfor %}
        </div>
        {# if rare media, wrap items so that we can split the grid in half #}
        <div class="row-wrapper">
          
          <div class="row archive-subhead">
            <h2 class="mono">Media</h2>
            <div class="categorylist mono">
              <span class="category-select noselect"><input id="Love" value="Love" type="checkbox"><label for="Love">Love</label></span>
              <span class="category-select noselect"><input id="Joy" value="Joy" type="checkbox"><label for="Joy">Joy</label></span>
              <span class="category-select noselect"><input id="Survival" value="Survival" type="checkbox"><label for="Survival">Survival</label></span>
              
              
            </div>
          </div>
          {% endif %}
        {% for item in items %}
          {% if cluster == 'manuscripts' %}
            {% set id = item.properties.manuscript_id.value %}
            {% set display_id = id | zero_string %}
            {% set href = "./manuscript-" + id%}
            {% set display_value = "#"  + id | zero_string %}
            {% set name = item.properties.manuscript_name.value %}
            {% set narrative = 'data-narrative='+item.properties.narrative.value | dump  %}
            {% set object = 'data-object='+item.properties.object.value | dump  %}
            {% set domain = 'data-domain='+item.properties.domain.value | dump  %}
            {% set thumb = item | thumbnail('manuscript') %}
          {% elseif cluster == 'artifacts' %}
            {% set id = item.properties.artifact_subid.value%}
            {% set href = './artifact-' + item.properties.manuscript_id.value + '-' + id %}
            {% set display_value =  item.properties.artifact_name.value %}
            {% set display_id = item.properties.manuscript_id.value | zero_string + ':' + id | zero_string(2) %}
            {% set thumb = item | thumbnail('artifact') %}
            {% set name = display_value %}
          {% elseif cluster == 'moving images' %}
            {% set id = item.properties.video_subid.value %}
            {% set href = './moving-image-' + item.properties.manuscript_id.value + '-' + id %}
            {% set display_value =  item.properties.video_name.value %}
            {% set thumb = item | thumbnail('moving image') %}
            {% set name = display_value %}
          {% elseif cluster == 'rare media' %}
            {% set id = item.properties.media_id.value %}
            {% set href = item.properties.media.value[0].url if item.properties.media.value[0].media_label == "link" and not "vimeo" in item.properties.media.value[0].url else  './' + item.properties.media_name.value | slugify %}
            {% set display_value =  item.properties.media_name.value %}
            {% set name = display_value %}
          {% endif %}

          <a 
            {{narrative | safe if narrative else ""}} 
            {{object | safe if object else ""}} 
            {{domain | safe if domain else ""}} 
            data-name="{{name}}"
            data-id="{{display_id}}"
            data-category="{{ item.properties.media_category.value}}"
            class="item {{ "card" if cluster!=="rare media" else "row" }} {{"vertical" if cluster == 'manuscripts' else "landscape"}}" 
            href="{{href}}"
          >
            {% if display_value and cluster !== "rare media" %}<span class="mono identifier">{{display_value}}</span>{% endif%}
            {% if cluster == "rare media" %}
              <div class="name-author-wrapper">
                  <span class="mono identifier">{{display_value}}</span>
                  <span class="mono">{{item.properties.authors.value[0].plain_text }}</span>
              </div>
              <div class="mono small-caps media-label">{{item.properties.media.value[0].media_label}}</div>
            
            {% endif %}
            {%if thumb %}
                <picture>
                    <source type="image/webp" srcset="{{rootpath}}{{ thumb }}.webp" type="image/webp">
                    <source type="image/jpg" srcset="{{rootpath}}{{ thumb }}.jpg">
                    <img loading="lazy" src="{{rootpath}}{{ thumb }}.jpg">
                </picture>

              <picture>
            {% endif %}
          </a>
        {% endfor %}
        {% if cluster == "rare media" %}</div>{% endif %}
    </main>
    

  
  </body>
</html>
