{% set rootpath="../../../" %}
{# {% import 'favicon.njk' as favicon %} #}
{% import 'macros.njk' as macros %}

{# cms.pages | notion_data_find("use_on_homepage",1) #}
{% set manuscript_id = item.properties.manuscript_id.value %}
{% set constellation_props = item | get_constellation_props(archive_item_type,cms) %}

{% set base_url="BASE_URL" | env%}

{% if archive_item_type == "manuscript" %}
  {% set archive_item_id = manuscript_id %}
  {% set archive_item_id_url = manuscript_id %}
  {% set archive_item_id_display = "#" + manuscript_id | zero_string %}
  {% set media = item.properties.scan.value %}
  {% set archive_img_root = "manuscript" + manuscript_id + "/" %}
{% elseif archive_item_type == "artifact"%}
  {% set artifact_subid = item.properties.artifact_subid.value %}
  {% set archive_item_id = artifact_subid %}
  {% set archive_item_id_url = manuscript_id + '-' + artifact_subid  %}
  {% set archive_item_id_display = "#" + manuscript_id | zero_string + ':' + artifact_subid | zero_string(2) %}
  {% set media = item.properties.media.value %}
  {% set archive_img_root = "manuscript" + manuscript_id + "/artifact" + artifact_subid + "/img@@" %}
{% endif %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Iyapo Repository - {{archive_item_type | capitalize}} {{archive_item_id_display}}</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0A0101">
    <link rel="stylesheet" href="{{ rootpath }}css/clearstyle.css">
    <link rel="stylesheet" href="{{ rootpath }}css/global.css">
    <link rel="stylesheet" href="{{ rootpath }}css/constellation.css">

    <!-- favicon -->
    {# {{ favicon.html() }} #}
    <script>
      console.log({{item | dump | safe}})
      console.log({{constellation_props | dump | safe}})
    </script>


  
  </head>
  <body >
    <div class='constellation-content grid'>
      {{ macros.breadcrumbs(cluster,base_url,archive_item_id_url,archive_item_id_display,archive_item_type) }}
      <section class='media'>
        {% for asset in media %}
          <figure>
            {% if asset.type == 'image' %}
              
              <picture>
                <source type="image/webp" srcset="{{ rootpath }}assets/images_for_web/archive/{{archive_img_root}}{{asset.name}}@@lg.webp" type="image/webp">
                <source type="image/jpg" srcset="{{ rootpath }}assets/images_for_web/archive/{{archive_img_root}}{{asset.name}}@@lg.jpg">
                <img loading="lazy" src="{{ rootpath }}assets/images_for_web/archive/{{archive_img_root}}{{asset.name}}@@lg.jpg">
              </picture>
            {% endif %}
          </figure>
        {% endfor %}
      </section>
      <section class='props'>
        <div class="prop desktop-only mono">
            <p class='value'>{{archive_item_id_display}}</p>
          </div>
        {% for prop in constellation_props %}
          
          <div class="prop mono" data-type="{{prop.type}}">
            {% if prop.type == 'text' %}
              <h4 class='prop-label'>{{prop.label}}</h4>
              <p class='value'>{{prop.value}}</p>
            {% elseif prop.type == 'accordion' %}
              <details>
                  <summary class='noselect'>{{prop.label}}</summary>
                  <p>{{prop.value}}</p>
              </details>
            {% elseif prop.type == 'tags' %}
              <p><span>{% if prop.value.narrative.length>-1%}Narrative:{% endif %}</span><span class="col-narrative">{{prop.value.narrative}}</span></p>
              <p><span>{% if prop.value.object.length>-1%}Object:{% endif %}</span><span class="col-object">{{prop.value.object}}</span></p>
              <p><span>{% if prop.value.domain.length>-1%}Domain:{% endif %}</span><span class="col-domain">{{prop.value.domain}}</span></p>
            {% elseif prop.type == 'relatives' %}
              <h4 class='prop-label'>{{prop.label}}</h4>
              <div class='relative-grid'>
                {% for item in prop.value %}
                  <a href="{{base_url}}{{ item.url }}" class='card {{item.orientation}}'>
                    {% if item.image %}
                      <picture>
                        <source type="image/webp" srcset="{{ rootpath }}{{ item.image }}.webp" type="image/webp">
                        <source type="image/jpg" srcset="{{ rootpath }}{{ item.image }}.jpg">
                        <img loading="lazy" src="{{ rootpath }}{{ item.image }}.jpg">
                      </picture>
                    {% endif %}
                  </a>
                  
                {% endfor %}
              </div>
              
            {% endif %}
            
          </div>
        {% endfor %}
      </section>
    </div>


  </body>
</html>
