---
title: Iyapo Repository
landing: false
---

{% set rootpath="" if landing else "../" %}
{# {% import 'favicon.njk' as favicon %} #}
{% import 'macros.njk' as macros %}



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Iyapo Repository{{"- " + pg.properties.title.value if not landing else "" }}</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0A0101">
    <link rel="stylesheet" href="{{ rootpath }}css/clearstyle.css">
    <link rel="stylesheet" href="{{ rootpath }}css/global.css">
    <link rel="stylesheet" href="{{ rootpath }}css/page.css">
    {% set base_url="BASE_URL" | env%}
    <script>
      let is_landing={{landing | dump | safe}};
      let archive_clusters={{archive_clusters | dump | safe}};
      let base_url="{{base_url}}";
      console.log({{cms | dump | safe}})
      console.log({{pg | dump | safe}})
    </script>
    <script type="module" src="{{ rootpath }}js/d3.js" charset="utf-8" preload></script>
    <script src="{{ rootpath }}js/page.js" charset="utf-8"></script>
    
    <!-- favicon -->
    {# {{ favicon.html() }} #}

    {% set homepage_content = cms.pages | notion_data_find("use_on_homepage",1) %}
  
  </head>

  <body class="{{ 'landing' if landing else '' }}" data-view="galaxy" data-spotlightmode="mouse" data-cluster="manuscripts">
    <div class='sticky-top'>
        <nav id="page-nav">
          {# {% set page0 = sheet[0] %} #}
          <div class='page-link-wrapper'>
            <a href="/" id="mobile-logo" class='bevel-mask'>
              {{macros.bevel_box("left right bottom top",["br","bl","tr","tl"]) }}
              <svg width="94" height="26">
                <use href="#small-logo-path" />
              </svg>
            </a>
            {% for page in cms.pages %}
              {%set title = page.properties.title.value %}
              {%set url_base = "#" + title | slugify if page.properties.use_on_homepage.value else title | slugify %}
              <a href="{{ "BASE_URL" | env }}{{url_base }}" class="expand-link bevel-mask">
                {{macros.bevel_box("left right bottom top",["br","bl","tr","tl"]) }}
                <h2 class="mono">{{title}}</h2>
              </a>
            {% endfor %}
          </div>
          <button id="toggle-nav">
            {{macros.bevel_box("left right bottom top",["br","bl","tr","tl"]) }}
            <svg viewBox="0 0 100 100">
                <g class="nav-open">
                  <line x1="10" y1="30" x2="90" y2="30" vector-effect="non-scaling-stroke"></line>
                  <line x1="10" y1="50" x2="90" y2="50" vector-effect="non-scaling-stroke"></line>
                  <line x1="10" y1="70" x2="90" y2="70" vector-effect="non-scaling-stroke"></line>
                </g>
                <g class="nav-close">
                  <line x1="10" y1="30" x2="90" y2="70" vector-effect="non-scaling-stroke"></line>
                  <line x1="10" y1="70" x2="90" y2="30" vector-effect="non-scaling-stroke"></line>
                </g>
            </svg>
          </button>
        </nav>
        <div id="archive-top-bevel">
          {{macros.bevel_box("top",["tr","tl"],"top-only") }}
          {# <h2>Archive</h2> #}
          
        </div>
      </div>
      
      <div id="archive-window" class='bevel-stroke {{"collapsed" if not landing else ""}}'>
        {{macros.bevel_box("left right bottom top",["br","bl","tr","tl"]) }}
          <iframe id="portal" name="portal" class='fill-frame bevel-mask' same-origin></iframe>
          <div id="galaxy" class="fill-frame galaxy-element bevel-mask">
            <div class="stars fill-frame"></div>
          </div>
          
          <div id="masked-content" class='fill-frame galaxy-element bevel-mask'>
            <div class='star-shadows fill-frame'></div>
      
          </div>
          <div id="scope-wrapper"  class='fill-frame'>
            <div id="aperture-dom" class="mono"></div>
            <svg id="scope">
              <path id="aperture"></path>
            </svg>
            <svg id="scope-back">
              <path id="aperture-back"></path>
            </svg>
            
            
          </div>
          <div id='lens-gap'> </div>
         
          <a href="{{"BASE_URL" | env}}#" id="home-link" class='bevel-mask'>
            <div id="logo-small">
              {{macros.logo('small') }}
            </div>
          </a>
          <nav id="cluster-nav">
            {% for cluster in archive_clusters%}
              <a class='mono' style="--x:{{cluster.pos.x}}; --y:{{cluster.pos.y}};"  target="portal" data-i="{{loop.index0}}" data-name="{{cluster.name}}" href="{{base_url }}archive/{{cluster.name | slugify}}-cluster">{{cluster.name}}</a>
            {% endfor %}
          </nav>
      </div>
      <article id="{{pg.properties.title.value if not landing else homepage_content.properties.title.value | slugify}}">
        
        
        <div class='content-wrap'>
          <div id='lens-wrapper'>
            {{macros.logo() }}
            <div id="lens"></div>
          </div>
          {% if landing %}
            <a href="{{base_url }}archive" target="portal"><h1>{{title}}</h1></a>
          {% else %}
            <h1>{{pg.properties.title.value}}</h1>
          {% endif %}
          
          <section class='prose mono'>
            {% if not landing %}
              {% set pagetext = pg.mdcontent %}
            {% else %}
              {% set pagetext = homepage_content.mdcontent %}
            {% endif %}
            {% for block in pagetext %}
                <div class='block'>
                    {{ block.value | md | safe }}
                </div>
                {% endfor %}
          </section>
          
          
        </div>
        <div class='delay-spacer'></div>
      </article>



  </body>
</html>
