---
eleventyExcludeFromCollections: true
---
{% set rootpath="" %}
{# {% import 'favicon.njk' as favicon %} #}
{% import 'macros.njk' as macros %}



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Iyapo Repository</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0A0101">
    <link rel="stylesheet" href="{{ rootpath }}css/clearstyle.css">
    <link rel="stylesheet" href="{{ rootpath }}css/global.css">
    
    <script type="module" src="js/d3.js" charset="utf-8" preload></script>
    <script src="{{ rootpath }}js/global.js" charset="utf-8"></script>

    <!-- favicon -->
    {# {{ favicon.html() }} #}

    <script>
      console.log({{sheet | dump | safe}})
    </script>
  
  </head>

  <body>
    <div class='sticky-top'>
        <nav id="page-nav">
          {# {% set page0 = sheet[0] %} #}
          {% for page in pages %}
            <a href="{{page.permalink}}">
              {{macros.bevel_box("left right bottom top",["br","bl","tr","tl"]) }}
              <h2>{{page.title}}</h2>
            </a>
          {% endfor %}
        </nav>
        <div id="archive-top-bevel">
          {{macros.bevel_box("top",["tr","tl"]) }}
          <h2>Archive</h2>
          
        </div>
      </div>
      
      <div id="archive-window" class='bevel-stroke'>
        {{macros.bevel_box("left right bottom",["br","bl"]) }}
          <div id="archive-content-wrapper" class='fill-frame'>
             <p id="mask-test">Hello, I hope you’re having a nice day</p>
          </div>
          <div id="scope-wrapper"  class='fill-frame'>
            <div id="aperture-glow"></div>
            <svg id="scope">
              <path id="aperture"></path>
              {# <g id='crosshair'>
                <line x1="0" x2="20" y1="10" y2="10" />
                <line x1="10" x2="10" y1="0" y2="20" />
              </g> #}
              {# <path id="aperture-back"></path> #}
            </svg>
            <svg id="scope-back">
              {# <path id="aperture"></path> #}
              <path id="aperture-back"></path>
            </svg>
            
          </div>
          <div id='lens-gap'> </div>
      </div>
      <article>
        
        
        <div class='content-wrap'>
          <div id='lens-wrapper'>
            {{macros.logo() }}
            <div id="lens"></div>
          </div>
          <h1>Iyapo Repository</h1>
          {# <p class='courier-new'>Iyapo Repository emerged from the collaborative initiative of Ayodamola Okunseinde and Salome Asega during their residency at Eyebeam. It draws its name from Lilith Iyapo, a character in Octavia Butler's "Dawn," known for her ability to navigate two distinct and intricate worlds. This repository serves as a dynamic archive of both digital and tangible artifacts that celebrate and envision the future for individuals of African descent. It evolves with contributions from participatory workshops where attendees conceptualize and prototype envisaged artifacts across various fields such as cuisine, music, politics, and fashion. Selected ideas are then fully realized by the repository team, ensuring the technological integrity and fidelity to the original concepts.</p> #}
        </div>
        <div class='delay-spacer'></div>
      </article>

    {# <div id="window">
      <p id="mask-test">Hello, I hope you’re having a nice day</p>
    </div>
    <section id="scroll-overlay">
      <div id="svg-perch">
        <div id="svg-wrapper">
          <div id="aperture-glow"></div>
          <svg id="scope">
          
            <path id="aperture"></path>
            <path id="aperture-back"></path>
          </svg>
          <div id="lens"></div>

        </div>
        
      </div>
      <nav>
        <h1>Iyapo Repository</h1>
      </nav>

    </section> #}

    

  </body>
</html>
