---
pagination:
  data: cms.moving_images
  size: 1
  alias: item
permalink: "archive/moving-images-cluster/moving-image-{{ item.properties.manuscript_id.value }}-{{ item.properties.video_subid.value }}/"
layout: constellation.njk
archive_item_type: "moving image"
cluster: "moving images"
---