---
pagination:
  data: cms.rare_media
  size: 1
  alias: item
permalink: "archive/rare-media-cluster/{{ item.properties.media_name.value | slugify }}/"
layout: constellation.njk
archive_item_type: "rare media"
cluster: "rare media"
---