---
pagination:
  data: cms.manuscripts
  size: 1
  alias: item
permalink: "archive/manuscripts-cluster/manuscript-{{ item.properties.manuscript_id.value }}/"
layout: constellation.njk
archive_item_type: "manuscript"
---