
body{
    animation:fadein 0.6s normal forwards;
    animation-delay:0.2s;
    opacity:0;
}

.row-wrapper{
    grid-column:1 / 13;
    min-height:40px;
    display:flex;
    flex-flow:column nowrap;
    margin-top:20px;
}

.access-points{
    grid-column:1 / 13;
    grid-template-rows: min-content;
}

.access-points .archive-subhead{
    grid-column:1 / 3;
}


.archive-subhead{
    padding-top:10px;
    border-top:var(--stroke-width) solid var(--fg);
    
    margin-bottom:var(--spacing);
}

.archive-subhead h2{
    text-transform:uppercase;
}

body[data-type="rare media"] #top-bar{
    margin-bottom:0;
}

body[data-type="moving images"] #filter{
    padding-bottom:0;
}

.row{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    position:relative;
    margin-bottom:10px;
}

.media-label{
    position:relative;
    top:3px;
}

.name-author-wrapper{
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
}

.row .identifier{
    color:var(--hl);
}




@keyframes fadein{
    from {
        opacity:0;
    }

    to{
        opacity:1;
    }
}

.cluster-content{
    /* padding-top:20px; */
    --n:2;
    --colspan:calc(var(--col-count) / var(--n));
}

.cluster-content::after{
    content:'';
    width:100%;
    height:60px;
    grid-column-start:1;
    order:2;
}

#top-bar{
    
    width:calc(100% - var(--spacing) * 2);
    margin:auto;
    max-width:var(--archive-content-width);
    box-sizing:border-box;
    background-color: var(--bg);
    position:sticky;
    top:0;
    z-index:100;
    margin-bottom:var(--spacing);
}

#filter-wrapper{
    /* height:3em;
    max-height:3em; */
}

#filter{
    --h:var(--h);
    padding-bottom:8px;
    border-bottom:var(--stroke-width) solid var(--fg);
    box-sizing:border-box;
    /* background-color: var(--bg); */
}

#filter>#search-field{
    width:100%;
}


.dropdown-arrow{
    min-width:14px;
    padding-bottom: 8px;
}

.dropdown-arrow path{
    stroke:var(--fg);
    stroke-width:var(--stroke-width);
    margin-left:4px;
}

#filter[open] .dropdown-arrow path{
    transform:rotate(180deg);
    transform-origin:50% 50%;
}




#filter[open] .filter-prompt,
#filter:not(#filter[data-selected="0"]) .filter-prompt{
    display:none;
}

#filter[open][data-selected="0"] .none-selected-placeholder{
    display:inline;
}

#filter[open]{
    border-bottom:var(--stroke-width) solid transparent;
}

#filter-menu{
    position:absolute;
    bottom:0;
    left:0;
    transform:translateY(100%);
    width:100%;
    background-color: var(--bg);
    border-bottom:var(--stroke-width) solid var(--fg);
    padding-bottom:var(--spacing);
    display:grid;
    grid-template-columns:repeat(var(--col-count),1fr);
    grid-gap:0px var(--spacing);
    max-height:calc(100vh - var(--h));
    overflow:scroll;
}

#filter-menu::after{
    content:'';
    height:var(--spacing);
}

.selected-tags button::before,
.selected-tags button::after{
    color:var(--fg);
}

.selected-tags button::after{
    content:',\00a0';
}

.selected-tags button:last-of-type::after{
    content:'';
}

.taglist{
    grid-column:auto / span var(--col-count);
    margin-top:var(--spacing);
}

.categorylist{
    display:flex;
    flex-flow:row wrap;
    grid-gap:10px;
}

.tag-select,.category-select{
    position:relative;
}



.tag-select label,.category-select label{
    cursor:pointer;
    width:100%;
    display:block;
}

.category-select label::before{
    content:'*';
    color:var(--mid);
}

input[type="checkbox"]:checked + label::before{
    color:var(--hl);
}

.tag-select input[type="checkbox"],
.category-select input[type="checkbox"]{
    position:absolute;
    opacity:0;
    pointer-events:none;
}



/* .tag-select input[type="checkbox"]{
    opacity:0;
    width:0;
} */

.tag-select input[type="checkbox"]:checked + label{
    display:none;
}

#filter summary{
    list-style:none;
    cursor:pointer;
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    /* align-items: flex-end; */
    grid-gap:10px var(--spacing);
    order:3;
}


.dropdown-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    flex:1;
    order:3;
}

#search-field{
    flex:1;
    order:2;
}


.none-selected-placeholder{
    display:none;
    color:var(--mid);
}

/* #filter summary .dropdown-container>*:not(.none-selected-placeholder){
    display:inline;
} */

#filter summary::marker,details summary::-webkit-details-marker{
    display:none;
    -webkit-appearance:none;
}



img{
    max-width:100%;
    position:relative;
    z-index:10;

}


#cards.filtering .item:not(.in-filter){
    opacity:0.1;
    order:2;
    /* display:none; */
}

.card{
    grid-column:auto / span var(--colspan);
    margin-bottom:var(--spacing);
}


/* .card::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--hl);
    mix-blend-mode:hard-light;
    z-index:90;
    opacity:0;
} */



.identifier{
    
    z-index:5;
}

.card .identifier{
    position:absolute;
    top:5px;
    left:10px;
}

picture{
    display:contents;
}

@media(scripting:enabled){
    /* .card img{
        opacity:0;
        transition:opacity 0.3s;
    } */
}



@media(hover:hover){
    .tag-select:hover label::after{
        content:'*';
    }
}

@media(min-width:600px){
    .cluster-content[data-cols="6"]{
        --n:4;
    }

    .access-points .card{
        --colspan: 1;
        min-width:0;
    }

    #top-bar{
        width:calc(100% - 40px);
    }
}

@media(max-width:799px){
    #filter:not(#filter[open]) summary{
        /* white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box; */
    }
}

@media(min-width:800px){
    

   
    .taglist{
        grid-column:auto / span 3;
        margin-top:0;
    }

    .row-wrapper{
        grid-column:7 / 13;
        min-height:40px;
        margin-top:0;
    }
    .access-points{
        grid-column:1 / 7;
        grid-template-columns:repeat(3,1fr);
    }

    .access-points .archive-subhead{
        grid-column:1 / 4;
    }
    
}

@media(min-width:1060px){
    .cluster-content[data-cols="6"]{
        --n:6;
    }
    

    #filter summary{
        flex-flow:row nowrap;
    }

    .dropdown-container{
        order:1;
    }

}

@media(min-width:1340px){
    #filter{
        padding-top:var(--spacing);
        min-height:calc(var(--spacing) + 20px);
    }

    .archive-subhead{
        margin-top:calc(var(--spacing) + 20px);
    }
}