:root{
    --bg:#0A0101;
    --fg:rgb(250,250,250);
    --hl:#D940FF;

    --tag-narrative:#FFAFCC;
    --tag-object:#EFF27E;
    --tag-domain:#A4E2FF;


    /* --bg:#304930;
    --fg:rgb(250,250,250); */

    /* --fg:#0A0101;
    --bg:rgb(220,220,220); */

    /* --fg:#0A0101;
    --bg:white; */
    
    
    --mid:#808080;
    --m:20px;
    --spacing:15px;
    --logo-height:45px;
    --hundredvh:100vh;
    --hundredvh:100svh;
    --nav-height:70px;
    --scrolly:0;


    --archive-content-width:1200px;

    --col-count:2;
    

    --stroke-width:0.8px;
    /* --stroke-width:1px; */
    --border:var(--stroke-width) solid var(--fg);
    --bevel-size:15px;

    /* fonts */
    --dubois-narrow:'VTC DuBois Narrow';
    --dubois-wide:'VTC DuBois Wide';
}

body[data-theme='bow']{
    --fg:#0A0101;
    --bg:rgb(250,250,250);
    
    --stroke-width:1px;
    --border:var(--stroke-width) solid var(--fg);
}

body[data-theme='grey']{
    --bg:#d2d0d0;
    --fg:#0A0101;
    --stroke-width:1px;
    --border:var(--stroke-width) solid var(--fg);
}
body[data-theme='soft-black']{
    --bg:#171717;
    /* --fg:#ffebff; */
}

body[data-theme='cream']{
    --bg:#F4F4E6;
    --fg:#2E242F;
    --stroke-width:1px;
    --border:var(--stroke-width) solid var(--fg);
}




/* "value":"bow" */



body[data-theme='bow'] .card.vertical,
body[data-theme='cream'] .card.vertical,
body[data-theme='grey'] .card.vertical{
    border-top:1px solid var(--fg);
}


body[data-theme='bow'] .card,
body[data-theme='cream'] .card,
body[data-theme='grey'] .card{
    background-color:rgba(0,0,0,0.05);
}


body[data-theme='bow'] .col-narrative,
body[data-theme='bow'] .col-object,
body[data-theme='bow'] .col-domain,
body[data-theme='cream'] .col-narrative,
body[data-theme='cream'] .col-object,
body[data-theme='cream'] .col-domain,
body[data-theme='grey'] .col-narrative,
body[data-theme='grey'] .col-object,
body[data-theme='grey'] .col-domain{
    color:var(--fg);
    background-size: 110% 1.1em;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    background-image:linear-gradient(to left, var(--g), var(--g));
}




.relative-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:0px var(--spacing);
}


body{
    background-color:var(--bg);
    color:var(--fg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




a{
    color:var(--fg);
    text-decoration:none;
}

 .bevel-box{
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    pointer-events:none;
    z-index:50;
    &::before{
        content:'';
        top:0;
        left:0;
        position:absolute;
        width:100%;
        height:100%;
        box-sizing:border-box;
    }

    &.left::before{
        border-left:var(--border);
    }

    &.right::before{
        border-right:var(--border);
    }

    &.top::before{
        border-top:var(--border);
    }

    &.bottom::before{
        border-bottom:var(--border);
    }

    & .corner{
        /* background-color: var(--bg); */
        width:var(--bevel-size);
        height:var(--bevel-size);
        position:absolute;
        border-top:var(--border);
        --tx:-50%;
        --ty:50%;
        --tr:var(--tx),var(--ty);
        --rot:45deg;
        transform:translate(var(--tr)) rotate(var(--rot));
        transform-origin:50% 50%;
    }

    & .corner.br{
        --rot:-45deg;
    }

    & .corner.bl{
        --rot:45deg;
    }

    & .corner.tl{
        --rot:135deg;
    }

    & .corner.tr{
        --rot:-135deg;
    }

    & .corner.br,.corner.bl{
        bottom:0;
        --ty:50%;
    }
    & .corner.tr,.corner.tl{
        top:0;
        --ty:-50%;
    }

    & .corner.tr,.corner.br{
        right:0;
        --tx:50%;
    }

    & .corner.tl,.corner.bl{
        left:0;
        --tx:-50%;
    }
}

.bevel-box,
.bevel-mask{
    --b: 100px;  /* border */
    --s: calc(var(--bevel-size) - 5px);

    clip-path: polygon(0 var(--s),var(--s) 0,calc(100% - var(--s)) 0,100% var(--s),100% calc(100% - var(--s)),calc(100% - var(--s)) 100%,var(--s) 100%,0 calc(100% - var(--s)));
    /* --g1:#000 var(--b),#0000 0 calc(100% - var(--b)),#000 0;
    --g2:#0000   calc(0.707*var(--s)), 
        #000  0 calc(0.707*var(--s) + var(--b)),
        #0000 0 calc(100% - 0.707*var(--s) - var(--b)),
        #000  0 calc(100% - 0.707*var(--s)),
        #0000 0;
    mask:
        linear-gradient(45deg ,var(--g2)),
        linear-gradient(-45deg,var(--g2)),
        linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s)) no-repeat,
        linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s)) 100% no-repeat; */
}

.bevel-box.top-only{
    clip-path: polygon(0 0,0 0,calc(100%) 0,100% 0,100% 100%,0 100%);
}

.bevel-box.top-only .corner{
    background-color: var(--bg);
}

.grid{
    display:grid;
    
    grid-template-columns:repeat(var(--col-count),1fr);
    grid-template-rows: min-content;
    box-sizing:border-box;
    width:calc(100% - var(--spacing) * 2);
    grid-gap:0px var(--spacing);
    max-width:var(--archive-content-width);
    margin:auto;
}

a[target="_blank"]{
    cursor:alias;
}


.col-narrative{
    --g:var(--tag-narrative);
}
.col-object{
    --g:var(--tag-object);
}
.col-domain{
    --g:var(--tag-domain);
}

.col-narrative,.col-object,.col-domain{
    color:var(--g);
}

.card{
    position:relative;
    z-index:5;
    background-color:rgba(255,255,255,0.1);
    margin-bottom:var(--spacing);
}

.card picture{
    display:contents;
}

.card img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit:cover;
}

.card.vertical{
    aspect-ratio:0.77;
}

.card.landscape{
    aspect-ratio:4/3;
}

.card::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--hl);
    mix-blend-mode:hard-light;
    z-index:90;
    opacity:0;
}


.breadcrumbs{
    grid-column:1 / span var(--col-count);
    padding-top:20px;
    padding-bottom:10px;
}

.breadcrumbs a{
    color:var(--mid);
}

.breadcrumbs a:last-child{
    color:var(--fg);
}



@media(hover:hover){
    .card:hover::after{
        opacity:1;
    }

    .card:hover .identifier{
        z-index:92;
    }

    .breadcrumbs a:hover{
        color:var(--hl);
    }
}

.mono{
    font-family: 'jetbrains';
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    letter-spacing:0.01em;
}

.mono.small-caps{
    font-size:11px;
    line-height:15px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:0.05em;
}

@media(min-width:600px){
    :root{
        --col-count:12;
    }
    .grid{
        
        width:calc(100% - 40px);
    }
}

@media(max-width:699px){
    .desktop-only{
        display:none !important;
    }
}

@media(max-width:799px){
    body.archive-internal .desktop-only{
        display:none !important;
    }
}

@media(min-width:700px){
    .mobile-only{
        display:none !important;
    }

    .mono{
        font-size:16px;
        line-height: 26px;
    }

    .mono.small-caps{
        font-size:12px;
        line-height:16px;
    }
}

@media(min-width:800px){
    :root{
        --spacing:20px;
        --nav-height:80px;
    }
    
    .breadcrumbs{
        display:none;
    }
}

@media(min-width:840px){
    :root{
        --logo-height:75px;
    }
}

@font-face {
    font-family: 'VTC DuBois Narrow';
    src: url('../assets/fonts/vtc-du-bois-narrow-trial.woff2') format('woff2');
    font-weight:400;
    font-style:normal;
}
/* @font-face {
    font-family: 'VTC DuBois Narrow';
    src: url('../assets/fonts/vtc-du-bois-narrow-italic-trial.woff2') format('woff2');
    font-weight:400;
    font-style:italic;
} */

@font-face {
    font-family: 'VTC DuBois Wide';
    src: url('../assets/fonts/vtc-du-bois-wide-regular-trial.otf') format('opentype');
    font-style:normal;
}

@font-face {
    font-family: 'VTC DuBois Wide';
    src: url('../assets/fonts/vtc-du-bois-wide-bold-trial.woff2') format('woff2');
    font-weight:600;
    font-style:normal;
}

@font-face {
    font-family: 'VTC DuBois Wide';
    src: url('../assets/fonts/vtc-du-bois-wide-light-trial.otf') format('opentype');
    font-weight:200;
    font-style:normal;
}



@font-face {
    font-family: 'jetbrains';
    src: url('../assets/fonts/jetbrains-variable.ttf') format('truetype');
}

@font-face {
    font-family: 'jetbrains';
    font-style:italic;
    src: url('../assets/fonts/jetbrains-variable-italic.ttf') format('truetype');
}

