body{
    --archive-h:40px;
    --max-w:calc(100% - var(--m) * 2);
}


body:not(body[data-view="galaxy"]){
    overflow:hidden;
}


body.landing{
    --archive-h:calc(var(--hundredvh) - (var(--m) + var(--spacing) + var(--logo-height) +  var(--nav-height) - 14px));
}

h1{
    font-size:min(8.8vw,36px);
    font-family:'VTC DuBois Wide';
    font-weight:200;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:0.03em;
    margin-bottom:20px;
    margin-top:30px;
    transition:transform 0.9s;
    white-space:nowrap;
}

.landing h1{
    font-weight:600;
    margin-top:0;
}

.sticky-top{
    position:sticky;
    top:0;
    height:fit-content;
    width:100%;
    /* overflow:hidden; */
    margin-bottom:var(--spacing);
    pointer-events:none;
    z-index:130;
}

#home-link{
    position:absolute;
    top:-2px;
    /* top:calc(var(--stroke-width) * -1); */
    left:0;
    z-index:5;
    width:100%;
    height:calc(100% + 2px);
    display:none;
}

#home-link:hover{
    background-color: var(--fg);
}

#home-link:hover #logo-small path
{
    fill:var(--bg);
}

.landing #home-link{
    pointer-events:none;
}

.landing .collapsed #home-link{
    pointer-events:all;
}


#page-nav{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    gap:var(--spacing);
    max-width:var(--max-w);
    margin:auto;
    position:relative;
    z-index:10;
    pointer-events:all;
    /* background-color: var(--bg); */
    padding-top:var(--spacing);
    height: 41px;

    &::after{
        right:0;
        left:auto;
    }

    
}

#page-nav::before{
    content:'';
    width:100%;
    position:absolute;
    height:calc(var(--nav-height) - var(--spacing));
    top:0;
    left:0;
    background-color: transparent;
    z-index:5;
}

#page-nav::after{
    bottom:0;
    left:auto;
}

.expand-link{
    display:none;
}



#page-nav.open .expand-link{
    display:block;
}

#page-nav .nav-close{
    opacity:0;
}

#page-nav.open .nav-close{
    opacity:1;
}

#page-nav.open .nav-open{
    opacity:0;
}


.page-link-wrapper{
    display:flex;
    flex-flow:column nowrap;
    gap:var(--spacing);
    flex:1;
}

#mobile-logo{
    height:41px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
}
#mobile-logo svg{
    transform:translateY(-3px) scale(0.95);
}

#toggle-nav{
    width:55px;
    min-width:55px;
    height:41px;
    position:relative;
    display:flex;
    flex-flow:column nowrap;
}

#toggle-nav .bevel-box{
    background-color: var(--bg);
}

#toggle-nav line{
    stroke:var(--fg);
    stroke-width:var(--stroke-width);
}

#toggle-nav svg{
    width:100%;
    height:100%;
    position:absolute;
    z-index:110;
}

#page-nav .expand-link{
    flex:1;
    box-sizing:border-box;
    margin-right:-1px;
    padding:10px 15px;
    padding-top:10px;
    position:relative;
    z-index:10;
    background-color: var(--bg);
    transition:background-color 0.2s;
    text-align:center;
}


h2.mono{
    line-height:21px;
}


#archive-top-bevel{
    position:relative;
    display:none;
    
    height:14px;
    max-width:var(--max-w);
    margin:auto;
    margin-top:var(--spacing);
    z-index:15;
    pointer-events:none;

    & h2{
        position:absolute;
        top:10px;
        left:15px;
    }
}


#archive-window .bevel-box{
    /* z-index:1000; */
    clip-path:none;
}

#archive-window .bevel-box .corner{
    background-color: var(--bg);
    z-index:1000;
}





#archive-window{
    z-index:99;
    width:var(--max-w);
    /* background-color: var(--bg); */
    --max-opacity:0;
    position: relative;
    
    height:var(--archive-h);
    margin:0 auto;
    
    /* top:calc((var(--archive-h) - 20px) * -1); */
    
    
    --archive-scroll-dist:100px;

    display:none;
}

body.landing #archive-window{
    display:block;
}

body[data-view="galaxy"] #archive-window,body[data-spotlightmode="transition"] #archive-window{
    cursor:crosshair;
}


body[data-view="galaxy"] iframe,body[data-spotlightmode="transition"] iframe{
    pointer-events:none;
    opacity:0;
}

#archive-window::before,#archive-window::after{
    content:'';
    position:absolute;
    width:100%;
    height:42px;
    background-color: var(--bg);
    top:-1px;
    display:block;
    pointer-events:none;
}
.landing #archive-window::before,.landing #archive-window::after{
    position:sticky;
    top:calc(var(--nav-height) + var(--spacing));
}

.landing #archive-window::before{
    transform: translateY(-77px);
    z-index:10;
    
}

#archive-window::after{
    z-index:1;
}

.scrolled #archive-window{
    cursor:unset;
}

.transitioned-logo #archive-window::before{
    opacity:0;
}

#cluster-nav{
    position:absolute;
    opacity:0;
    pointer-events:none;
    text-transform:capitalize;
    z-index:100;
    top:0px;
    left:1px;
    width:calc(100% - 2px);
    height:100%;
    overflow:hidden;
}

body[data-view="galaxy"] #cluster-nav{
    opacity:1;
    pointer-events:all;
}

#cluster-nav a{
    color:var(--hl);
    height:9em;
    width:9em;
    display:block;
    border:var(--stroke-width) solid var(--hl);
    box-sizing:border-box;
    padding:4px;
    transition:color 0.3s;
    white-space:nowrap;

    position:absolute;
    left:calc(100% * var(--x));
    top:calc(100% * var(--y));
    transform:translate(-50%,-50%) translateY(-10px);
}





#lens-gap{
    display:none;
    position:absolute;
    bottom:0px;
    height:2px;
    background-color: var(--bg);
    left:50%;
    width:clamp(0px,calc(1px * (100 - (var(--scrolly) - 50) )),150px);
    transform:translateX(-50%);
    z-index:200;
    pointer-events:none;
    /* transition:width 1s; */
}

#lens-wrapper,#scope-wrapper,#masked-content{
    display:none;
}

.scrolled #lens-gap{
    /* width:0; */
}

#lens-wrapper{
    /* position:absolute; */
    top:calc(var(--spacing) * -1);
    height:80px;
    /* transform:translateY(-40px); */
    width:100%;
    z-index:200;
    position:relative;
    margin-bottom:-50px;
    opacity:0;
    pointer-events:none;
    background-color: transparent;
}

.landing #lens-wrapper{
    opacity:1;
}

#logo{
    position:absolute;
    top:-73px;
    left:50%;
    transform:translateX(-170px);
    --o:clamp(0,calc(var(--scrolly) / 40),1);
    --o:clamp(0,calc(((var(--scrolly) - 150) / 100)),1);
    opacity:var(--o);
    pointer-events:none;

}

#logo-small{
    pointer-events:none;
    position: sticky;
    z-index: 110;
    top: calc(8px + var(--nav-height));
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    transition:opacity 0.3s;
    opacity:0;
}

.collapsed #logo-small{
    opacity:1;
}

#logo-small path{
    fill:var(--fg);
}

.logo-styles path{
    fill:var(--bg);
    stroke:var(--fg);
    stroke-width:var(--stroke-width);
}

.logo-styles path.hull,rect{
    stroke:var(--fg);
}


#lens{
    position:absolute;
    top:-33px;
    left:50%;
    width:8px;
    height:66px;
    background-color: var(--fg);
    --rad:0rad;
    --base:0rad;
    --ratio:clamp(0,calc((1 - (var(--scrolly)) / 100)),1);
    --r:calc(var(--base) + var(--rad) * var(--ratio) );
    --logo-bump:calc((1 - var( --ratio)) * 37);
    --x-offset:calc(-4px  - var(--logo-bump) * 1px);
    transform-origin:50% 50%;
    --y:calc(var(--ratio) * 30px - 30px);
    /* --y:0px; */
    transform:translate(var(--x-offset),var(--y)) rotate(var(--r));
    
}

body[data-view="cluster"][data-spotlightmode="hide"] #lens{
    --r:90deg;
}

#lens.left{
    --r:calc(var(--base) + (var(--rad) - 3.14rad) * var(--ratio) );
}


article{
    max-width:var(--max-w);
    margin:auto;
    margin-top:var(--spacing);
    --delay:120px;
    position:relative;
    scroll-margin-top:-15px;
    
}

.delay-spacer{
    height:var(--delay);
    display:none;
}




article .content-wrap{
    position:relative;
    min-height:var(--hundredvh);
    padding-bottom:40px;
}

body[data-view="cluster"] .content-wrap{
    pointer-events:none;
}

body[data-view="cluster"] h1{
    pointer-events:all;
}

.landing article .content-wrap{
    /* position:sticky;
    top:calc(var(--archive-h) + var(--nav-height)); */
    z-index:130;
}

.transitioned-logo article .content-wrap{
    z-index:10;
}


#masked-content{
    mask:url(../assets/mask.svg#box) no-repeat;
    -webkit-mask:url(../assets/mask.svg#box) no-repeat;
    pointer-events:none;
    --mask-opacity:0;
    opacity:min(var(--mask-opacity),var(--max-opacity));
    z-index:10;
    transition:opacity 0.3s;
}

body[data-view="galaxy"] #masked-content{
    --mask-opacity:1;
    transition:none;
}


#masked-content,.no-active-transition #scope-wrapper{
    transition:opacity 0.5s;
    /* transition-delay:0.1s; */
}



.fill-frame{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5;
    
    
}

#galaxy{
    pointer-events:none;
    overflow:hidden;
    /* --archive-scale:calc(var(--archive-h) / 1px); */
    /* opacity:calc(5 - var(--scrolly)/100); */
    opacity:calc(1 - (var(--scrolly) - var(--archive-scroll-dist)*0.75 + 20)/(var(--archive-scroll-dist) * 0.25));
    
}


.star{
    position:absolute;
    left:calc(100% * var(--x));
    top:calc(var(--archive-h) * var(--y));
    font-family: 'VTC DuBois Narrow';
    font-size:18px;
    transform:translate(-50%,-50%);
    /* font-weight:600; */
}

#galaxy .star.cluster{
    color:var(--hl);
}




.star-shadows .star.cluster{
    color:var(--bg);
}


/* .cluster{
    position:absolute;
    --x:0.5;
    --y:0.5;
    --s:140px;
    width:var(--s);
    height:var(--s);
    left:calc(var(--x) * 100% - var(--s) / 2);
    top:calc(var(--y) * 100% - var(--s) / 2);
}

#masked-content .cluster{
    background-color: var(--hl);
} */

#scope-wrapper{
    pointer-events:none;
    opacity:var(--max-opacity);
    
    & svg{
        opacity:clamp(0,calc((1 - (var(--scrolly)) / 100)),1);
    }
}




#scope{
    width:100%;
    height:100%;
    position:relative;
    z-index:5;
    
}
#scope,#scope-back{
    --col:var(--fg);
}

#scope.intersecting-cluster,
body[data-view="cluster"] #scope.intersecting-cluster{
    --col:var(--hl);
}



#scope-wrapper #scope-back{
    height:100%;
    z-index:5;
    position:absolute;
    bottom:1px;
    left:50%;
    transform:translate(-50%,100%);
    opacity:0;
    transition:opacity 0.3s;
}

body[data-view="galaxy"] #archive-window #scope-wrapper #scope-back{
    opacity:1;
    transition:none;
}

#aperture,#aperture-back{
    stroke-width:var(--stroke-width);
    stroke:var(--col);
    fill:transparent;
    transition:fill 0.3s,stroke 0.3s;
}



.intersecting-cluster #aperture,
body[data-spotlightmode="transition"] #aperture,
body[data-view="cluster"] #aperture{
    fill:var(--hl);
    
}

body[data-view="cluster"] #scope{
    transition:opacity 0.9s;
    transition-delay:0.2s;
}

body[data-view="cluster"][data-spotlightmode="hide"] #archive-window .galaxy-element{
    opacity:0;
}


body[data-spotlightmode="hide"] #scope{
    opacity:0;
    
}


#aperture-back{
    fill:var(--bg);
}

.paths path{
    /* stroke-width:var(--stroke-width); */
    stroke:var(--col);
    stroke-width:var(--stroke-width);
    fill:none;
    transition:stroke 0.3s;
}

#crosshair line{
    stroke-width:var(--stroke-width);
    stroke:var(--col);
    
}

.paths path.side-back{
    /* opacity:0.5; */
    z-index:20;
}

#aperture-dom{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    box-sizing:border-box;
    padding:5px 10px;
    color:var(--bg);
    /* text-transform:uppercase; */
    text-transform:capitalize;
    opacity:0;
}

.mousemoved #aperture-dom{
    transition:opacity 0.3s;
}


body[data-view="galaxy"] .mousemoved #aperture-dom{
    opacity:1;
}

#aperture-dom::before{
    content:var(--cluster);
}





#mask-test{
    font-size:16vw;
    color:rgba(255,255,255,0.1);
}

.prose em{
    font-style:italic;
}

.prose .block{
    max-width:660px;
    margin:0px auto 10px;
    color:var(--fg);
    /* min-height:1px; */
    /* font-family: 'jetbrains';
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing:0.01em; */
}


.block.list{
    margin-bottom:15px;
}

.prose .block ul ul{
    padding-left:var(--spacing);
    box-sizing:border-box;
}

.prose .block li p{
    display:flex;
    flex-flow:row nowrap;
}

.prose .block li p::before{
    content:'-';
    margin-right:10px;
}

.prose .block li p{
    margin:0px auto 10px;
}


.block.diptych{
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-gap:0px var(--spacing);
}

.gallery .img{
    margin-bottom:16px;
}

.gallery .item-wrapper{
    display:contents;
}

.gallery.regular{
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
    width:calc(100% + var(--spacing) * 2);
    position:relative;
    left:calc(var(--spacing) * -1);
    padding-left:var(--spacing);
    box-sizing:border-box;
    scroll-padding-left:var(--spacing);
}

.gallery.regular .img{
    margin-bottom:0px;
}

.gallery.regular .item-wrapper{
    display:flex;
    flex-flow:row nowrap;
    height:fit-content;
    gap:var(--spacing);
}

.gallery.regular .item-wrapper::after{
    content:'';
    min-width:calc(2 * var(--spacing));
}

.gallery.regular .slide{
    min-width:var(--max-w);
    scroll-snap-align:start;
    
}

.block.diptych .side{
    grid-column:1 / 9;
}

.block.diptych .side .img{
    margin:10px 0px;
}



.prose blockquote{
    /* padding-left:16px; */
}

.prose .block:first-child h2{
    margin-top:0;
}

.img{
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    
}

.prose>.block.image-wrapper,
.block.gallery{
    margin:20px auto;
}

.prose .block.group{
    margin-bottom:24px;
}

.prose .block.group .block{
    margin-bottom:0;
}

/* .prose .block.group{
    margin:20px auto;
} */


.block.gallery.carousel{
    position:relative;
    
    
}


.block.gallery button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:200;
    padding:var(--spacing);
    font-variant-ligatures: normal;
    --side-offset:0;
}
button.previous{
    left:var(--side-offset);
}

button.next{
    right:var(--side-offset);
}

.block.gallery.carousel.full{
    width:100%;
    max-width:100%;
    height:calc(var(--hundredvh) - var(--nav-height) - var(--logo-height));
}

.block.gallery.carousel figcaption{
    position:absolute;
    padding:var(--spacing);
    box-sizing:border-box;
    bottom:0;
    left:0;
}

.gallery.carousel figure,.gallery.carousel .slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.gallery.carousel .slide{
    opacity:0;
    transition:opacity 0.8s;
}

.gallery.carousel .slide.active{
    opacity:1;
}

.gallery.carousel img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.img picture{
    display:contents;
}

figure figcaption{
    margin-top:5px;
}

.block figure,.block figure img{
    width:100%;
}

/* .block figure img{
    width:100%;
} */



.prose h2{
    border-top:var(--stroke-width) solid var(--fg);
    padding-top:10px;
    text-transform:uppercase;
    margin-top:50px;
    
    /* margin-bottom:0px; */
}

.anchor-heading{
    scroll-margin-top:150px;
}

.prose h2:hover{
    background-color: rgba(255,255,255,0.1);
    cursor:copy;
}

.prose a{
    color:var(--hl);
    font-weight:400;
}

.prose h3{
    display:inline-block;
    border-bottom:var(--stroke-width) solid var(--fg);
    /* padding-top:4px; */
    /* text-transform:uppercase; */
    margin-top:10px;
}

@media(orientation:portrait){
    .block.gallery.carousel,
    .block.gallery.carousel.full{
        height:auto;
        aspect-ratio:1;
    }
}

@media(orientation:landscape){
    .block.gallery.carousel:not(.full){
        aspect-ratio:4/3;
    }
}



footer{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    padding:var(--spacing) 0;
    gap:0px var(--spacing);
    width:var(--max-w);
    max-width:var(--max-w);
    border-top:var(--border);
    box-sizing:border-box;
    margin:auto;
}

footer a:last-of-type{
    width:100%;
    text-align:center;
}


footer a{
    color:var(--hl);
}


@media(min-width:700px){
    .block>.img.vertical{
        display:grid;
        grid-template-columns:repeat(8,1fr);
        grid-gap:0px var(--spacing);
    }

    

    footer a:last-of-type{
        width:fit-content;
    }


    .gallery.regular .img{
        margin-bottom:15px;
    }

    .block>.img.vertical img,.img.vertical figcaption{
        grid-column:3 / 7;
    }

    .block.diptych .side:first-of-type{
        grid-column:1 / 4;
    }
    
    .block.diptych .side:last-of-type{
        grid-column:4 / 9;
    }

    .block.diptych .side .img{
        margin:0;
    }

    .gallery:not(.carousel){
        display:grid;
    }

    .block.gallery.wide{
        --col:calc((100% - var(--spacing) * 11) / 12);
        max-width:calc(660px + var(--spacing) * 2 + var(--col) * 2);
    }

    .gallery.regular .item-wrapper{
        display:contents;
    }

    .gallery.regular .item-wrapper::after{
        display:none;
    }

    .gallery{
        grid-template-columns:repeat(2,1fr);
        grid-gap:0px var(--spacing);
    }
    
}

@media(min-width:840px){
    .block.gallery:not(.full) button{
        --side-offset:calc(var(--spacing) * -2.5);
    }

    .landing article .content-wrap{
        position:sticky;
        top:calc(var(--archive-h) + var(--nav-height) + var(--spacing));
    }

    body.landing .delay-spacer{
        display:block;
    }

    h1{
        margin-top:0;
    }
    

    #archive-window{
        position:sticky;
        top:calc(var(--archive-h) * -1 + 121px);
        display:block;
    }
    
    #lens-wrapper,#scope-wrapper,#masked-content{
        display:block;
    }

    .landing #lens-gap{
        display:unset;
    }

    #galaxy .stars{
        transform:translateY(calc(var(--scrolly) / 2 * 1px));
    }
    



    .sticky-top{
        margin-bottom:-14px;
    }

    #archive-top-bevel{
        display:block;
    }


    #page-nav{
        height:unset;
    }

    #home-link{
        display:block;
    }

    #page-nav::before{
        height:calc(var(--nav-height) + 1px);
        background-color: var(--bg);
    }

    #page-nav #mobile-logo{
        display:none;
    }

    #page-nav .expand-link{
        display:block;
    }

    #page-nav .expand-link{
        text-align:left;
    }

    #cluster-nav{
        display:flex;
        bottom:-2.5em;
        top:auto;
        left:50%;
        flex-flow:row nowrap;
        gap:1.5em;
        transition:opacity 0.8s, transform 0.8s;
        width:unset;
        height:unset;
    }

    body[data-view="galaxy"] #cluster-nav{
        opacity:0;
        pointer-events:none;
    }

    body[data-cluster="manuscripts"] #cluster-nav{
        transform:translateX(-3em);
    }

    #cluster-nav a{
        color:var(--mid);
        border:none;
        display:inline;
        height:unset;
        width:unset;
        padding:0;
        position:relative;
        left:0;
        top:0;
        transform:none;
    }
    
    
    body[data-cluster="manuscripts"] #cluster-nav a[data-i="0"],
    body[data-cluster="artifacts"] #cluster-nav a[data-i="1"],
    body[data-cluster="moving images"] #cluster-nav a[data-i="2"],
    body[data-cluster="rare media"] #cluster-nav a[data-i="3"]{
        color:var(--fg);
    }
    
    
    body[data-cluster="artifacts"] #cluster-nav{
        transform:translateX(-10.9em);
    }
    
    body[data-cluster="moving images"] #cluster-nav{
        transform:translateX(-19em);
    }
    
    body[data-cluster="rare media"] #cluster-nav{
        transform:translateX(-27.5em);
    }
    
    body[data-view="cluster"] #cluster-nav{
        opacity:1;
        pointer-events:all;
    }

    #toggle-nav{
        display:none;
    }

    .page-link-wrapper{
        flex-flow:row nowrap;
    }
}

#page-nav .expand-link.current{
    background-color: var(--fg);
    color:var(--bg);
}



@media(hover:hover){
    #page-nav .expand-link:hover{
        background-color: var(--fg);
        color:var(--bg);
        /* flex:2; */
    }

    body.landing:not(.scrolled) #archive-window.mousemoved:hover{
        --max-opacity:1;
    }

    

}